@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(90deg, rgb(4, 90, 40) 0%, rgb(173, 130, 68) 100%);
}

body h2 {
  color: white;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #56fa7a;
  color: rgb(0, 0, 0);
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

/* Botão flutuante para voltar à página anterior */

.back-button {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background-color:  #2bd24f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* Remove a borda do botão */
  outline: none; /* Remove o contorno ao focar */
  cursor: pointer;
  animation: pulsate 2s infinite;
}

.arrow {
  width: 0;
  height: 0;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
  padding: 5px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}