body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Adicionado box-shadow para criar sombra */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.toggle-button {
    margin-top: -30px;
    font-size: 24px;
    cursor: pointer;
}

.sidenav {
    width: 200px;
    background-color: #f1f1f1;
    height: 100vh;
    position: fixed;
    top: 50px;
    right: -200px;
    /* Alterado para abrir no lado direito */
    transition: right 0.3s;
    /* Alterado para o efeito de transição adequado */
    overflow-x: hidden;
    z-index: 998;
}

.sidenav a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #000;
}

.sidenav a:hover {
    background-color: #ddd;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-top: -22px;
}

.active {
    left: unset;
    right: 0;
}

/* Estilo para a seção principal tela de início */
main {
    position: relative;
    background: url("images/inicio.png") no-repeat center center;
    background-size: cover;
    height: 160vh;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
}

/* Estilo para o select lista dos anos da Redação */
select {
    margin-left: 450px;
    margin-top: 50px;
    width: 300px;
    text-align: center;

}


#nome {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    padding: 5px;
}

#botao {
    background-color: #ae7627;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#mensagem {
    margin-top: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-weight: bold;
    border: none;

}

.espacamento {
    margin-top: 60px;
    margin-left: 370px;
}

#anoSelect {
    width: 600px;
}

.cardsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


}

.card {
    width: 121px;
    height: 200px;
    background-color: rgb(209, 255, 209);
    padding: 10px;
    margin: 40px;
    margin-right: 40px;
    margin-left: 90px;

}

.notebook {
    width: 80px;
    height: 100px;
    margin-left: 8px;
}

.informacoes {
    text-align: center;
    font-size: 12pt;
    font-family: "Raleway", Arial, sans-serif;
    text-align: justify center;
}

.ver {
    margin-top: 6px;
    margin-left: -11px;
    background-color: rgb(13, 139, 13);
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    width: 122px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

#conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: background-color 0.5s;
}

#conteudo.ocultar {
    border-color: transparent;
}

.titulobarra {
    text-align: center;
    margin-top: -20px;
    color: black;
    font-size: 20px;
}

/*estilo dos temas*/
.container-fluid {
    background-color: rgb(76, 199, 127);
    border-color: black;
    margin-top: 10px;
    font-size: larger;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0%;
    position: relative;
    padding: 8px;
}

.corpo {
    margin-top: 55px;
    padding: 15px;
}

.container {
    text-align: center;
    margin-top: 100px;
}

/*área do aluno matrizes*/
.align-items {
    display: inline-flex;
    align-items: center;
    margin-left: 9%;
}

.align-items__text {
    margin-left: 3px;
    font-size: 30px;
    margin-top: 10px;
}

.container-md {
    background-color: rgb(236, 235, 235);
    border-color: black;
    margin-top: 15px;
    font-size: larger;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0%;
    position: relative;
}

button {
    justify-content: end;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 2%;
    margin-left: 2%;
}


.botao-verde {
    margin-top: 6px;
    margin-left: -11px;
    background-color: rgb(13, 139, 13);
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    width: 122px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 16px;
    margin-top: 50px;
}

.upload-icon {
    font-size: 48px;
    background: url("images/noprofil.png");
    margin-bottom: 16px;
}

.upload-iconmais {
    font-size: 48px;
    margin-top: -48px;
    color: #888;
    position: relative;
    z-index: 1;
}

.upload-text {
    color: #888;
}

#file-input {
    display: none;
}

#preview {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eee;
    background-size: cover;
    background-position: center;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.organize {
    color: green;
    text-align: center;
    padding: 20px;
    margin-top: -100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.link-btn,
.video-btn {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.link-btn:hover,
.video-btn:hover {
    background-color: darkgreen;
}

.remove-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: darkred;
}

form>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form>div>label {
    flex: 0 0 80px;
}

form>div>input {
    flex: 1;
    margin-left: 10px;
}

.botao {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

/* praticar */

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.options {
    margin-left: 20px;
}

.option {
    margin-bottom: 10px;
}

.botaoestilo {
    display: block;
    margin-top: 10px;
    margin-top: 6px;
    margin-left: -11px;
    background-color: rgb(13, 139, 13);
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    width: 122px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.botaoestilo {
    background-color: green;
    color: white;
    font-weight: bold;
}

.card2 {
    background-color: rgba(76, 175, 80, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin-top: 100px;
    margin-left: 480px;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.btn {
    margin: 8px;
    padding: 10px 20px;
    font-size: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#notes {
    width: 100%;
    height: 200px;
    margin: 20px auto;
    display: none;
}

.desafios {
    background-color: green;
    color: white;
    padding: 5px 10px;
    height: 60px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.desafios a,
.desafios a:link,
.desafios a:visited,
.desafios a:hover,
.desafios a:active {
    text-decoration: none;
    color: white;
}




.botao1 {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .cardsContainer {
        justify-content: center;
        flex-direction: column;
    }

    .card {
        width: 140px;
        margin: 10px;
    }
}

select {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

/* Estilos para telas desktop */
@media only screen and (min-width: 1024px) {
    .titulo {
        margin-top: 60px;
        padding: 20px;
    }
}

/* Estilos para telas tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Estilos para telas mobile */
@media only screen and (max-width: 767px) {

    /*menu*/
    header {
        display: flex;
        flex-direction: column;
    }

    .toggle-button {
        margin-top: -40px;
    }

    /*imagem de tela*/
    main {
        position: relative;
        background: url("images/inicio.mobile.png") no-repeat center center;
        background-size: cover;
        height: 100vh;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0;
    }

    /*mensagem de boas vindas*/
    #conteudo {
        position: absolute;
        margin-top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        transition: background-color 0.5s;
    }

    /*titulo da barra*/
    .titulobarra {
        text-align: center;
        margin-top: -20px;
        color: black;
        font-size: 15px;
    }

    /*titulo de praticar desafios mensais*/
    .titulo {
        margin-top: 80px;
        padding: 20px;
    }

    /*área de escrever*/
    .card2 {
        background-color: rgba(76, 175, 80, 0.3);
        border-radius: 10px;
        padding: 20px;
        width: 310px;
        margin-top: 100px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .container {
        text-align: center;
        margin-top: 100px;
    }

    .btn {
        margin: 8px;
        padding: 10px 20px;
        font-size: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    #notes {
        width: 100%;
        height: 200px;
        margin: 20px auto;
        display: none;
    }

    /*redações*/

    .espacamento {
        margin-top: 60px;
        margin-left: 20px;
    }

    #anoSelect {
        width: 300px;
    }

    .cardsContainer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;


    }

    .card {
        width: 121px;
        height: 200px;
        background-color: rgb(209, 255, 209);
        padding: 10px;
        margin: 40px;
        margin-right: 40px;
        margin-left: 90px;

    }

    .notebook {
        width: 80px;
        height: 100px;
        margin-left: 8px;
    }

    .informacoes {
        text-align: center;
        font-size: 12pt;
        font-family: "Raleway", Arial, sans-serif;
        text-align: justify center;
    }

    .ver {
        margin-top: 6px;
        margin-left: -11px;
        background-color: rgb(13, 139, 13);
        text-align: center;
        color: #ffffff;
        border: none;
        outline: none;
        width: 122px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }

    #conteudo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        transition: background-color 0.5s;
    }

    #conteudo.ocultar {
        border-color: transparent;
    }

    /*seção desafios mensais*/
    .desafios {
        background-color: green;
        color: white;
        padding: 5px 10px;
        height: 60px;
        border: none;
        border-radius: 80px;
        text-decoration: none;
        font-size: 15px;
        width: 250px;
        cursor: pointer;
        margin: 3px;
        margin-left: 40px;
        margin-right: 3px;
        margin-top: 10px;
    }

    .temames {
        text-align: center;
        font-size: 20px;

    }

    /*atenção da área de desafios*/
    .atencao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .atencaoimg {
        margin-bottom: 50px;
    }

}

/*footer rodapé*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.somos {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-align: justify;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.image-division {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.image-division h3 {
    max-width: 500px;
}

.image-division img {
    height: 400px;
    object-fit: cover;
}

.image-division * {
    margin: 0;
    padding: 0;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}